@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome back, @User.Identity.Name!</h1>
    <p class="lead">
        Join us in our mission to provide hope and dignity to those in need.
    </p>
    <hr class="my-4">
    <p>Together, we can make a difference in the lives of the most vulnerable.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>[Content about the organization's mission]</p>
    </div>
    <div class="col-md-4">
        <h2>Current Projects</h2>
        <p>[List of ongoing projects]</p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>[Information on how to volunteer or donate]</p>
    </div>
</div>