@{
}
<style>
    .showcase{
        display: flex;
        flex-direction: column;
        background-image: url("/DefaultImages/bad_situation6.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 25rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
</style>
<div class="showcase">
    <h2>About Us</h2>
    <a class="btn btn-danger" href="#">how</a>
</div>

<section id="">
    <div>
        <p>
            ‘’YOU FEEL THE CALLING, YOU FEEL THE NEED, YOU SEE THE SUFFERING OF MAN AND YOU WANT TO DO SOMETHING. THERE'S A LOT OF PRAYER INVOLVED. YOU'VE BEEN SHOWN WHAT THE RIGHT WAY IS; WHAT TO DO AND WHAT NOT TO DO. AND THINGS ARE PUT VERY CLEARLY IN FRONT OF YOU‘’
            - DR IMTIAZ SOOLIMAN
        </p>
    </div>
    <div>
        <h3>Overview</h3>
        <p>
            The Gift of the Givers Foundation is the largest disaster response, non-governmental organisation of African origin on the African continent.

            It works to unite people, with a common vision, to make a real and telling difference by serving mankind for the ‘Greater Good’ .

            Assistance is provided unconditionally; assisting the needy, irrespective of human or animal, race, religion, colour, class, political affiliation or geographic location.

            Since its inception in 1992, the organisation has been responsible for the delivery of life-saving goods and on-the-ground support for innumerable people, collectively valued at some R4.5 billion, in more than 45 countries across the globe, including South Africa.

            Gift of the Givers restores the hope and dignity of the most vulnerable in their time of need, rebuilding prosperous communities and empowering leaders of tomorrow.
        </p>
    </div>
</section>
<div>
    <h3>About Us</h3>
    <div>
        <a href="#">Donate</a>
    </div>
</div>